// FONTS
@import url('https://fonts.googleapis.com/css?family=PT+Serif:400i|Roboto:400,500,700&display=swap');

// COLOURS
$white: #fff;
$black: #000;
$grey: #2e2e2e;

$primary: $white;
$secondary: $black;

$transition-timing: 250ms;

$font-family-base: 'Roboto',
sans-serif;
$font-family-serif: "PT Serif",
serif;
$font-family-weight: 400;
$font-weight-bold: 700;