body {
	background-color: $secondary;
	color: $white;
	margin: 0;
	width: 100%;
	@include baseFont();
}

.section-blurb {
	text-align: center;
}

.section-more-projects {
	text-align: center;
	@include spacer(2rem);
	padding-top: 4rem;

	h4 {
		text-transform: uppercase;
		font-weight: $font-weight-bold;
	}

	.img-wrapper {
		@include responsiveImg(10rem);
		background-color: $grey;
	}

	header {
		@include make-col-ready();
		@include make-col(12);
		margin-bottom: 2rem;
	}
}

hr {
	border-color: $grey;
}

.spacer {
	@include spacer(2rem);
}